* {
  box-sizing: border-box;
}

body {
  width: 50%;
  background: rgb(23, 0, 0);

}



.calculator {
  display: flex;
  flex-wrap:wrap; 
  /* flex-direction: column; */
  background: #0ff;
  border-radius: 10px;

}

.button {
  background: blue;
  color: white;
  font-size: 2rem;
  width: 33.33%;
  padding: 2rem;
  border: black solid 2px;
  
  

}

.screen {
  width: 100%;
  background: rgb(32, 3, 34);
  padding:2rem;
  border-radius: 10px 10px 0 0;
  border: black solid 2px;
  font-size: 2rem;
  color: white;

}

.decimal {
  border-radius: 0 0 0 10px;
}